/*
=============== 
Mixins
===============
*/

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@mixin flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin nav-desktop {
  @media screen and (min-width: 1140px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 800px) {
    @content;
  }
}
@mixin shop-modal-mix {
  @media screen and (min-width: 550px) {
    @content;
  }
}

/*
=============== 
Color Variables
===============
*/

// dark shades of primary color
$primary-1: #350000;
$primary-2: #590000;
$primary-3: #7d0000;
$primary-4: #a00000;
// primary color
$primary-5: #b20000;
// light shades of primary color
$primary-6: #c13333;
$primary-7: #d16666;
$primary-8: #e09999;
$primary-9: #f0cccc;
// background colors
$bg: #222;
$menu-bg-scroll: #222;
$menu-bg-main: transparent;
// text-colors
$text-color: #ffffff;

/*
=============== 
Global Variables
===============
*/

$transition: all 0.3s linear;
$spacing: 0.1rem;
$radius: 0.25rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$bg-shadow: rgba(0, 0, 0, 0.7);
$preloader-shadow: rgba(0, 0, 0, 0.9);
$menu-shadow: rgba(0, 0, 0, 0.7);
$max-width: 1170px;
$fixed-width: 620px;
$header-text: 4rem;

/*
=============== 
Imports
===============
*/

@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import "./styles/_preloader", "./styles/_primary", "./styles/nav",
  "./styles/concerts", "./styles/records", "./styles/gallery", "./styles/about",
  "./styles/shop", "./styles/footer";

/*
=============== 
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Play", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("./img/concerts_bg2.jpg");
  color: $text-color;
  overflow-x: hidden;
}
a {
  color: initial;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-family: "Special Elite", cursive;
}
main {
  background: $bg-shadow;
}
.btn {
  font-size: 1.5rem;
  padding: 10px 20px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  &:hover {
    color: $primary-5;
    border-color: $primary-5;
  }
  &:after {
    content: "";
    position: absolute;
    background: currentColor;
    width: 10px;
    height: 2px;
    right: -5px;
    bottom: -2px;
  }
  &:before {
    content: "";
    position: absolute;
    background: currentColor;
    width: 2px;
    height: 10px;
    right: -2px;
    bottom: -5px;
  }
}
.section-header {
  padding: 5rem 0;
  h1 {
    font-size: $header-text;
    text-align: center;
    text-transform: capitalize;
    @include desktop {
      font-size: 6rem;
    }
  }
}
